<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script>
        function fnDept() {
            window.open('/cmmn/deptPopupList', '부서팝업', 'width=720, height=500, menubar=no, status=no, toolbar=no');
        }

        function fnDeptCallback(result) {
            document.getElementById('deptId').value = result[0];
            document.getElementById('deptName').value = result[1];
        }

    </script>
</head>
<body>
<form role="form" action="/member/new" th:object="${memberForm}" method="post">
    <div>
        <label th:for="name">성명</label>
        <input type="text" th:field="*{name}">
        <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Incorrect date</p>
    </div>
    <div>
        <label th:for="rank">직위</label>
        <input type="text" th:field="*{rank}">
        <p th:if="${#fields.hasErrors('rank')}" th:errors="*{rank}">Incorrect date</p>
    </div>
    <div>
        <label th:for="dept">부서</label>
        <input type="text" th:field="*{deptName}" readonly/>
        <input type="hidden" th:field="*{deptId}">
        <a href="#" onclick="fnDept();">부서선택</a>
    </div>
    <input type="submit" value="저장">
</form>
</body>
</html>