<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>근태관리시스템</title>
    <link rel="stylesheet" href="/css/common.css">
</head>
<body>
<table class="table">
    <thead>
    <th>No</th>
    <th>부서</th>
    <th>직급</th>
    <th>직원명</th>
    </thead>
    <tbody>
    <tr th:each="member,index : ${members}">
        <td th:text="${index.count}"></td>
        <td th:text="${member.dept.name}"></td>
        <td th:text="${member.rank}"></td>
        <td th:text="${member.name}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>