<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>근태관리시스템</title>
    <link rel="stylesheet" href="/css/common.css">
</head>
<body>
    <table class="table">
        <thead>
            <th>No</th>
            <th>부서명</th>
            <th>레벨</th>
        </thead>
        <tbody>
            <tr th:each="dept,index : ${deptList}">
                <td th:text="${index.count}"></td>
                <td th:text="${dept.name}"></td>
                <td th:text="${dept.deptLvl}"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>